{% extends '::base.html.twig' %}

{% block body -%}
    <blockquote>
        <p>Veni Vidi Ridi Rekt</p>
        <small>Julius Caesarsallad</small>
    </blockquote>

    {% if app.request.get("link") is not null %}
        <div class="alert alert-success">
            <i class="fa fa-paper-plane fa-fw fa-3x pull-left"></i>
            <strong>Din redirect har skapats</strong><br>
            <span>{{ url("redirect_show", {"id": app.request.get("link")}) }}</span>
        </div>
    {% endif %}

    {{ form(form) }}
{% endblock %}
