{% extends '::base.html.twig' %}

{% block body -%}
    <blockquote>
        <p>Veni Vidi Ridi Rekt</p>
        <small>Julius Caesarsallad</small>
    </blockquote>

    {{ form(form) }}

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('redirect') }}">
            Alla redirects
        </a>
    {% endif %}
{% endblock %}
