{% extends 'base.html.twig' %}

{% block title %}Skapa användare{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h1>Skapa användare</h1>

        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">
            Skapa en användare
        </button>
    {{ form_end(form) }}
{% endblock %}
