{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li><a href="{{ path("forum") }}">Forum</a></li>
        <li class="active">Ny tråd</li>
    </ul>

    {{ form(form) }}
{% endblock %}
